<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">   
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/end.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <div class='wrapper'>
    <div class='glow'></div>
      <div class='mask'>
        <div class='container'>
          <div class='main'></div>
          <div class='stem1'></div>
          <div class='stemCrease'></div>
          <div class='stem2'></div>
          <div class='base'></div>
          <div class='arms'></div>
        </div>
        <div class="button-animation text-center">
          <h3 style="color: green;">Victory belongs to those that believe in it the most and believe in the longest.</h3>
          <p>NOTE: Fill out the Google form below to complete the game.</p>
          <a href="https://forms.gle/xT2cG6vHMs4buwCn7" target="_blank">
            <button type="button" class="btn btn-outline-info">End the game</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  
  
  
</div>

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
<!-- partial -->
  

</html>
